<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>All Chats</h1>

    <button><a href="/chats/new">Create NewChat.</a></button>
    <br>
    <br>

    <div>
        <% for(let chat of chats){ %>
            <div class="chat">
                <p class="frm">from :
                    <i>
                        <%= chat.from %>
                    </i>
                </p>
                <div class="msg">
                    <p>
                        <%= chat.message %>
                    </p>
                </div>
                <p class="to">Reciever :
                    <i>
                        <%= chat.to%>
                    </i>
                </p>
                <hr>
                <p> Time :
                    <%= chat.createdAt.toString().split(" ")[4] %>
                    <br>
                    <%= chat.createdAt.toString().split(" ").slice(0,4).join(" ")%>
                </p>
                <button><a href=" /chats/<%=chat.id%>/edit">Edit message</a></button>
            </div>
            <br>
            <br>
            <% }%>
    </div>
</body>

</html>